.boxVideo {
    width: 500px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.control {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}